.product-card {
  width: 250px;
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h1 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}
.product-card p {
  font-size: 1rem;
  margin: 10px 0;
  color: #333;
}

.product-card span {
  display: block;
  font-size: 1rem;
  margin-top: 5px;
  color: #555;
}

.product-card span:nth-child(3) {
  font-weight: bold;
  color: #e44d26;
}
